{
"liveHIT":"no",
"title":"Mystery Box Of Marbles",
"description":"~2 min. You will be asked to interpret several sentences.",
"experimentURL":"https://www.socsci.uci.edu/~nattali/experiments/intonation/1c/1c_endorsement.html",
"keywords":"language science research",
"USonly?":"yes",
"minPercentPreviousHITsApproved":"95",
"minNumPreviousHITsApproved":"1000",
"frameheight":"650",
"reward":"0.50",
"numberofassignments":"180",
"assignmentsperhit": "9",
"assignmentduration":"1200",
"hitlifetime":"172800",
"autoapprovaldelay":"60000",
"doesHaveQualification":"none",
"doesNotHaveQualification": "none"
}
